* {
	font-family: sans-serif;
}

body {
	padding: 20px 20px;
}

section {
	border: 2px solid #d4d4d4;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
}

p {
	opacity: 0.8;
}

button {
	color: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: #2f61e9;
	border: none;
	outline: none;
}

button:hover {
	filter: brightness(90%);
	cursor: pointer;
}

button:active {
	filter: brightness(70%);
	scale: 90%;
}
