.contact-page .contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--c1);
  padding: 14px;
  flex-wrap: nowrap !important;
  max-width: 630px;
  margin: auto;
}

.contact-page .title{
  margin-bottom: 14px;
}

.contact-page .form{
  /* max-width: 600px; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-page .input{
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.contact-page .textarea{
  font-size: 1em;
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  min-height: 154px;
  height: 154px;
  resize: vertical;
  color: var(--c1);
  background-color: var(--bg3);
  border: 1px solid transparent;
}

.contact-page .textarea:focus{
  outline: 1.5px solid #2f61e9;
	border: 1px solid transparent;
}

/* .contact-page .button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #2f61e9b6;
  font-size: 18px;
  transition: background-color, transform 0.8s;
  padding: 5px;
} */

/* .contact-page .button:hover{
  background-color:  #2652ccb6;
  transition: .3s;
}

.contact-page .button:active{
  scale: .99;
} */

hr {
	border: none;
	border-top: 1px solid;
	opacity: 0.8;
	margin-bottom: 20px;
  color: var(--bgc2);
}

.contact-page footer {
  margin-top: 20px;
}