
.contact-page .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #FFF;
  padding: 14px;
  flex-wrap: nowrap !important;
}

.contact-page .title{
  margin-bottom: 14px;
}

.contact-page .form{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-page .input{
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.contact-page .textarea{
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  color: #FFF;
  background-color: #2b2b2b;
  border: 1px solid transparent;
}

.contact-page .textarea:focus{
  outline: 1.5px solid #2f61e9;
	border: 1px solid transparent;
}

.contact-page .button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #2f61e9b6;
  font-size: 18px;
  transition: background-color, transform 0.8s;
  padding: 5px;
}

.contact-page .button:hover{
  background-color:  #2f61e9b6;
  transform: scale(1.01);
}