.container {
  overflow: hidden;
}

.content {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  width: 90%;
  flex-shrink: 0; /* Não compactar itens flex para caber */
  margin: 0 5%;
  padding: 10rem 0;
  background: var(--bgc);
  border-radius: 10px;
  text-align: center;
  color: var(--c1);
  outline-offset: 1px solid var(--bg2);
} 

.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto 0;
}